# Java builds
bin/
*.class

# IDE configurations
.vscode/
.project
.classpath
.settings/

# Database / Local artifacts
*.dat
bills/*.txt
data/*.dat

# Libraries
lib/*.jar

# OS files
Thumbs.db
.DS_Store
